@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #582f0e;
    --cor-padrao-hover: #370617;
    --cor-fonte:#fff;
    --cor-fonte-p:#555;
    --cor-btn:#7f4f24;
    --cor-btn-hover:#99582a;
    --cor-btn-fonte:#000000;
    --cor-fonte-corpo:#432818;
    --cor-fonte-corpo-leve:#bb9457;
}

body {
    font-family: 'Poppins', sans-serif;
}

.conta-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.conta-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.conta-info {
    margin-bottom: 20px;
}

.conta-btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    color: #fff;
    background-color: var(--cor-btn);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.conta-btn:hover {
    background-color: var(--cor-btn-hover);
}


